#main_board {
    border: 1rem outset blue; ;
    width:500;
    height: 300;

    position:relative;
    
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

#my_ball {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: blue;
}
